:root{
  --bg-2: #025373;

  --neon-cyan: #05F2DB;
  --neon-magenta: #D9048E;
  --neon-fuchsia: #F205CB;

  --text: #EAFBFF;

  --radius: 999px;
  --radius-card: 18px;
}

body {
  margin: 0;
  padding: 0;
}

.page {
  /* fondo “Team” */
  background: rgba(30, 0, 50, 0.92);
  margin: 0 auto;
  color: var(--text);
  width: 100%;
  font-size:16px;
  font-family: "Inter-regular", sans-serif;
  min-height: 100vh;
}
